.idea/
__pycache__/
car_devkit.tgz
cars_test.tgz
cars_train.tgz
custom_layers/__pycache__/
data/
models/
logs/
cars_test/
cars_train/
devkit/README.txt
devkit/cars_test_annos.mat
devkit/cars_train_annos.mat
devkit/eval_train.m
devkit/train_perfect_preds.txt